.menuContainer {
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
  padding: 2rem;
  /* max-width: 960px; */
}

.title {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
  font-family: 'Shabnam', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  margin: 0 auto 2rem auto;
}

.menuLayout {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 0.1rem;
  align-items: start;
}

/* .foodSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 90px;
  padding: 0.5rem;
  grid-column: 2;
  justify-content: end;
  margin-left: 20px;
} */


.foodSection {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  grid-column: 2;
  padding: 0.5rem;
  margin-left: 20px;
}


.foodWrapper {
  background: #1e1e1e;
  /* padding: 0.5rem; */
  border-radius: 0.75rem;
  color: white;
  max-width: 400px; /* ✅ sets a max width */
  margin: 0 auto;    /* ✅ centers the box */
}

.cartSection {
  grid-column: 1;
  position: sticky;
  top: 2rem;
}

/* === Mobile Styles === */
.mobileLayout {
  display: none;
}

.mobileFooter {
  display: none;
}

.activeTab {
  color: hsl(52, 92%, 58%) !important;
  font-weight: bold;
}



@media (max-width: 768px) {
  .menuLayout {
    display: none;
  }

  .mobileLayout {
    display: block;
  }

  .foodSection,
  .cartSection {
    grid-column: auto;
    padding-bottom: 5rem;
  }

.mobileFooter {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: #111;
  justify-content: space-around;
  padding: 0.75rem 0;
  border-top: 1px solid #444;
  z-index: 1000;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  /* font-family: 'Vazir', 'Vazirmatn', sans-serif;  */
  font-family: 'Vazir';
}

  .footerButton {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: none;
    border: none;
    color: #aaa;
    font-size: 0.9rem;
    /* font-family: 'Vazirmatn', sans-serif; */
    transition: all 0.3s ease;
  }

  .footerButton img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(0.9);
    transition: transform 0.2s ease;
  }

  .footerButton span {
    font-size: 0.85rem;
  }

  .footerButton:hover img {
    transform: scale(1.1);
  }

  .footerButton:hover {
    color: white;
  }

  .activeTab {
    color: #fff;
    font-weight: bold;
  }

  .activeTab img {
    filter: brightness(0) invert(1);
  }

  .cat{
	font-size: 0.6rem;
	/* color: #aaa; */
  }
}
