.logoWelcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.logoTextContainer {
  display: flex;
  align-items: start;
  gap: 19rem;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  justify-content: left;
  text-align: left;
}

.logoContainer {
  flex-shrink: 0;
}

.pacifico {
  font-family: 'Pacifico', cursive !important;
}


.logo {
  width: 160px;
  filter: brightness(0) invert(1);
}

.welcome {
  opacity: 0;
  animation: none;
}

.slideDown {
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.welcome h1 {
  font-weight: 600;
  margin: 0;
  font-size: 1.6rem;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.subtitle {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0.5rem;
  justify-content: center;
}

.subtitle p {
  font-size: 0.85rem;
  margin: 0;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
}

.subtitle img {
  width: 17px;
  height: 17px;
  filter: brightness(0) invert(1);
}

@media (max-width: 600px) {
  .logo {
    width: 160px;
  }

  .welcome h1 {
    font-size: 1rem;
  }

  .subtitle p {
    font-size: 0.7rem;
  }

  .subtitle img {
    width: 12px;
    height: 12px;
  }

  .logoTextContainer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
	 align-items: center;
	 gap: 0;
  }

  /* .welcome {
    padding-top: 0.5rem;
  } */
}
